<div th:replace="admin/fragments/headerAdmin::headerAdmin"></div>
<br>
<br>
<div style="padding-left:20%;">
<h3 class="text-center text-light">Virement en attends au compte CCP</h3>

<div class="table-responsive">
<table class="table table-bordered text-white" id="ccaTable">
  <thead class="table-dark">
    <tr>
      <th scope="col">Date </th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
      <th scope="col">Type</th>
      <th scope="col">Amount</th> 
      <th scope="col" >Accept</th>
      <th scope="col">Refuse</th> 
           
    </tr>
  </thead>
  <tbody> 
  
  
   <th:block th:each="ccpOp : ${ccpOperations}">
      <tr>
         <td th:text="${ccpOp.creationDateTime}">...</td>
         <td th:text="${ccpOp.description}">...</td>
         <td th:text="${ccpOp.status}">...</td>
         <td th:text="${ccpOp.type}">...</td> 
          <td th:if = "${ccpOp.type == 'crédit'}" th:text="${+ccpOp.amount}"></td>
        <td th:if = "${ccpOp.type == 'débit'}" th:text="${-ccpOp.amount}"></td>
            <td><a th:href="@{/acceptOpCcp/{id}(id=${ccpOp.id})}">Accept</a></td>
         <td><a th:href="@{/refuseOpCcp/{id}(id=${ccpOp.id})}">Refuse</a></td>       
      </tr>
     
   </th:block>

 
  </tbody>
</table>
</div>
</div>

   <div th:replace="admin/fragments/footer::footer"></div>