<div th:replace="fragments/header::header"></div>

<div class="row d-flex justify-content-center">
<form th:action="@{/aMonCompte}" method="post" class="col col-md-6 col-sm-12">
<p>Compte à débiter </p>
<select name="compteD" class="browser-default custom-select form-control">
  <option value="Ccp" selected>CCP</option>
  <option value="LivretA">Livret-A</option>  
</select><br>
<p>Compte à créditer </p>
<select name="compteC" class="browser-default custom-select form-control">
  <option value="Ccp" selected>CCP</option>
  <option value="LivretA">Livret-A</option>  
</select><br>
<p>Select an amount</p>
<div class="input-group mb-3">
<input type="text" class="form-control" name="amount" size="2" aria-label="Dollar amount (with dot and two decimal places)">
  <div class="input-group-append">
    <span class="input-group-text">&euro;</span>   
  </div>
  </div> 
  <button class="btn btn-primary">submit</button>
</form>
</div>

<div th:replace="fragments/footer::footer"></div>