<div th:replace="fragments/header::header"></div>


<div class="row" style="padding:15%;">
<div class="col col-6">
<div class="card text-center border border-primary shadow-0 ">
<a th:href="@{/cca}">
  <div class="card-body">
    <h5 class="card-title">CCA</h5>
    <p class="card-text">
     Account balance:<span th:text="${ccpAccount.balance}"/>&euro;
    </p>
  </div>
</a>
</div>
</div>
<div class="col col-6">
<div class="card text-center border border-primary shadow-0 ">
<a th:href="@{/livretA}">

  <div class="card-body">
    <h5 class="card-title">Livret A</h5>
    <p class="card-text">
      Account balance:<span th:text="${livretA.balance}"/>&euro;
    </p>


  </div>
</a>
</div>
</div>
</div>

<div th:replace="fragments/footer::footer"></div>
