<div th:replace="fragments/header::header"></div>
<div th:replace="fragments/nav::nav"></div>
<div>
<div class="row" style="padding:5%;">
<div class="col col-12">
<div class="card text-center border border-primary shadow-0 ">

  <div class="card-body">
    <h5 class="card-title">Livret A</h5>
    <p class="card-text">
     Solde actuel:<span th:text="${livretA.balance}"/>&euro;
    </p>
  </div>

</div>
</div>
</div>

<div class="table-responsive">
<table class="table table-striped table-bordered table-info bg-opacity-75
bg-gradient " id="ccaTable">
  <thead class="black white-text">
    <tr>
      <th scope="col">Date </th>
      <th scope="col">Déscription</th>
      <th scope="col">Status</th>
      <th scope="col">Type</th>
      <th scope="col">Montant</th>             
    </tr>
  </thead>
  <tbody> 
  
  
   <th:block th:each="livretOp : ${livretAOperations}">
      <tr>
         <td th:text="${#calendars.format(livretOp.creationDateTime,'dd.MM.yyyy, HH:mm:ss')}">...</td>
         <td th:text="${livretOp.description}">...</td>
         <td th:text="${livretOp.status}">...</td>
         <td th:text="${livretOp.type}">...</td> 
          <td th:if ="${livretOp.type == 'crédit'}" th:text="${+livretOp.amount}"></td>
        <td th:if ="${livretOp.type == 'débit'}" th:text="${-livretOp.amount}"></td>
        <!-- <td th:text="${ccpOp.amount}">...</td> -->                 
      </tr>
     
   </th:block>

 
  </tbody>
</table>
</div>
</div>
</div>

<div th:replace="fragments/footer::footer"></div>